body{
    margin: 0;
    padding: 0;
}
.parentContainer{
    height: 100vh;
    background-image: url("../images/background\ for\ task\ manager.png");
    background-color: rgb(202, 121, 110);
    display: flex;
    align-items: center;
    justify-content: center;
}

.textBox{
  max-width: 400px;
  color: white;

  h1{
    font-size: 40px;
  }
  p{
    font-size: 17px;
  }
}
.free{
    background-color: rgb(153, 62, 172);
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;
    padding: 12px;
}

form{
    background-color: white;
    padding: 30px;
    border-radius: 4px;
    

    input{
        height: 35px;
        width: 300px;
        margin-top: 10px;
        border-radius: 10px;
        
    };
    button{
        height: 35px;
        width: 309px;
        background-color: rgb(55, 157, 55);
        border: none;
        color:white;
        margin-top: 10px;
    }
}

.modal{
     width: 100%;
     height: 100%;
     position: fixed;
     background: rgba(24, 5, 5, 0);
     display: none;
     justify-content: center;
     align-items: center;
     top: 0px;
     left: 0px;
     
}

.modal-content{
    background-color: aliceblue;
    padding: 20px;
    width: 300px;
    height: auto;
    display: flex;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        width: 63px;
        height: 63px;
    }
}

.formBox{

}